{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<h1>{{event.name}}</h1>
<table>
  <tr>
    <td>Event date</td>
    <td>{{event.event_date}}</td>
  </tr>
  <tr>
    <td>Place</td>
    <td>{{place.name}}</td>
  </tr>
  {% if event.fb_url %}
  <tr>
    <td>FB URL</td>
    <td>{{event.fb_url}}</td>
  </tr>
  {% endif %}
  <tr>
    <td>Registration closes</td>
    <td>{{event.close_date}}</td>
  </tr>
</table>
<p>{{event.description}}</p>
<h2>Attendees ({{ attendees|length }})</h2>
{% for attendee in attendees %}
<p>{{attendee.attendee_name}}</p>
{% endfor %}
{% if event.is_full %}
<p>Event is full :(</p>
{% elif event.is_past %}
<p>Registration time has past :|</p>
{% else %}
<form action="/fi/ilmo/event/{{event.id}}/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="Submit" value="submit" />
</form>
{% endif %}
{% endblock content %}
