{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<h1>{{event.name}}</h1>
<table>
  <tr>
    <td>Event date</td>
    <td>{{event.event_date}}</td>
  </tr>
  <tr>
    <td>Place</td>
    <td>{{place.name}}</td>
  </tr>
  {% if event.fb_url %}
  <tr>
    <td>FB URL</td>
    <td><a href='{{event.fb_url}}'>Facebook-event</a></td>
  </tr>
  {% endif %}
  <tr>
    <td>Registration closes</td>
    <td>{{event.close_date}}</td>
  </tr>
</table>
{% if event.image_url %}
<img src="{{event.image_url}}" alt="PHOTO">
{% endif %}
<p>{{event.description}}</p>
<h4>Attendees ({{ attendees|length }})</h4>
<div id="ilmoittautuneet" style="display: none;">
{% for attendee in attendees %}
<p>{{attendee.attendee_name}}</p>
{% endfor %}
</div>
<div id='ilmoittautuneet_toggle' onclick="document.getElementById('ilmoittautuneet').style.display='';document.getElementById('ilmoittautuneet_toggle').style.display='none';"><a>näytä ilmoittautuneet</a></div>
{% if event.is_full and not event.backup %}
<p>Event is full :(</p>
{% elif event.is_past %}
<p>Registration time has past :|</p>
{% else %}
{% if event.backup and event.is_full %}
<p>Event is full, you are registering on a backup place</p>
{% endif %}
<form action="/fi/ilmo/event/{{event.id}}/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="Submit" value="submit" />
</form>
{% endif %}
{% endblock content %}
